body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
  }


.aa
{
    background-image: url('dishan.jpg');
    min-height: 100%;
    
}
.aa1
{
    background-image: url('office.jpg');
    min-height: 400px;
}
.aa2
{
    background-image: url('arbaj1.jpg');
    min-height: 400px;
}
.aa,.aa1 ,.aa2{
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment:fixed;
  }
  .ab ,.ab1 ,.ab2{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
  }
  .section{
    text-align:center;
    padding:50px 80px;
  }
  
  .section_light{
    background-color:#f4f4f4;
    color:#666;
  }
  .section_dark{
    background-color:#282e34;
    color:#ddd;
  }
  .ab .ac{
    background-color:#111;
    color:#fff;
    padding:20px;
  }
  
